body {
    background: #000000;
}

.main-container {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

.logo-inicio {
    height: 1.4em;
}

.test {
    margin: 0;
}

.bg-trans {
    background: rgba(0, 0, 0, 0);
}

#inicio img{
    max-width: 100% /* or 100vw */;
}

.bg-aqua {
    background-color: rgba(13, 202, 240, 1);
}

#destacados .card{
    background: rgba(13, 202, 240, 1);
}

#destacados img {
    height: 9em;
    
}



#destacados .card {
    max-width: 20em;
    min-height: 10em;
    margin-left: auto;
    margin-right: auto;
}

#quienes-somos .sm-icons{
    background: rgba(13, 202, 240, 1);
}

.sm-icons i {
    color: white;
}

.p-footer {
    font-size: 2em;
}
.logo-footer{
    margin: 0;
    padding: 0;
}
footer .row {
    margin: 0;
    padding: 0;
}